<h1>Search it, Buy it!</h1>
<div class="forms">
    <form action="/register" method="POST">

        <div class="errors">
            {{#each messages}}
            <p>{{this}}</p>
            {{/each}}
        </div>


        <label for="form-username">
            Username
        </label>
        <input class="form-input" type="text" id="form-username-register" name="username" placeholder="Username"
            autocomplete="off" value="{{ uName }}" />

        <label for="form-email">
            Email
        </label>
        <input {{!-- type="email"  // Commented for assignment purposes --}} type="text" id="form-email"
            name="emailRegister" class="form-input" placeholder="Email" autocomplete="off" value="{{ email }}" />
        <label for="form-password">
            Password
        </label>
        <input class="form-input" id="form-password-register" type="password" name="passwordRegister"
            placeholder="Password" {{!-- autocomplete="off" --}} />


        <input class="form-button" id="form-submit" type="submit" value="SIGN UP" />
    </form>

    <form action="/login" method="POST">

        <div class="errors">
            {{#each messages}}
            <p>{{this}}</p>
            {{/each}}
        </div>

        <label for="form-email">
            Email
        </label>
        <input class="form-input" type="text" id="form-email-login" name="emailLogin" placeholder="Email"
            autocomplete="off" value="{{ email }}" />
        <label for="form-password">
            Password
        </label>
        <input class="form-input" id="form-password-login" type="password" name="passwordLogin"
            placeholder="Password" />

        <input class="form-button" id="login-button" type="submit" value="LOGIN" />
    </form>
</div>

{{!-- <div class="Auth-container">
    <h1>Search it, Buy it!</h1>
    <main>
        <aside>
            <form action="/register" method="POST">
                <input class="fieldInput" name="username" placeholder="Username..." value="{{ uName }}"></input>
                <input class="fieldInput" name="emailRegister" placeholder="Email..." value="{{ email }}"></input>
                <input class="fieldInput" name="passwordRegister" type="password" placeholder="Password..."></input>

                <button class="blueButton">Sign Up</button>
            </form>
        </aside>

        <aside>
            <form action="/login" method="POST">
                <input class="fieldInput" name="emailLogin" placeholder="Username..." value="{{ email }}"></input>
                <input class="fieldInput" type="password" name="passwordLogin" placeholder="Password..."></input>
                <button class="whiteButton">Login</button>
            </form>
        </aside>
    </main>
</div> --}}

<script src="js/cookie.js" type="text/javascript"></script>
<script src="js/loc.js" type="text/javascript"></script>